# Sensitive configuration
config.py
*token*
*.env

# Logs
*.log
!/logs/scraper.log  # Allow tracking this specific log file
!/logs/fetch.log    # Allow tracking this specific log file

# Downloaded database files
/data/*.json
!/data/downloaded_database.json  # Allow tracking this specific database file
!/data/zipcodes.txt             # Allow tracking zipcodes file

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/ 